### Strings in Python

In [1]:
name = "Muhammad Awaiz"
print(name)

Muhammad Awaiz

### Lists in Python

In [2]:
# For list we use Square Brackets []
list = ["John", 23, 23.4, 'A']
print(list)
print(list[0])
print(type(list))

['John', 23, 23.4, 'A']
John
<class 'list'>

### Tuples in Python

In [3]:
# Tuples are exact same as lists but Only difference in that Tuples are immutables.
# As per syntax we will use Parentheses instead of Square Brackets
tuple = ("John", 23, 23.4, 'A')
print(tuple)
print(tuple[3])
print(type(tuple))

('John', 23, 23.4, 'A')
A
<class 'tuple'>

In [4]:
# If we have single integer, we will add a comma after it
Mytuple_1 = (100)
Mytuple_2 = (100,)
print(type(Mytuple_1))
print(type(Mytuple_2))

<class 'int'>
<class 'tuple'>

### The Slice Operator in Python `:`

In [5]:
my_list = ["apple", "banana", "cherry", 23, 'A', 43.6, "Hello Pakistan"] 
print(my_list[2:6])    # python is a zero-index based language and slices are inclusive of the first index and exclusive of the second.
print(my_list[:3])
print(my_list[3:])
print(my_list[:])

['cherry', 23, 'A', 43.6]
['apple', 'banana', 'cherry']
[23, 'A', 43.6, 'Hello Pakistan']
['apple', 'banana', 'cherry', 23, 'A', 43.6, 'Hello Pakistan']

In [6]:
# Now lets figure the objects from last without hard coding
sports = ['cricket', 'football', 'volleyball', 'baseball', 'softball', 'track and field', 'curling', 'ping pong', 'hockey']
last = sports[-3:]
print(last)

['curling', 'ping pong', 'hockey']

In [7]:
# Lets perform some concatenation
print(my_list[:3] + ["I was added Between",45] + my_list[3:])
print(my_list + [1,2,3,4])

# Lets perform repetition in list 
print(my_list * 2)

['apple', 'banana', 'cherry', 'I was added Between', 45, 23, 'A', 43.6, 'Hello Pakistan']
['apple', 'banana', 'cherry', 23, 'A', 43.6, 'Hello Pakistan', 1, 2, 3, 4]
['apple', 'banana', 'cherry', 23, 'A', 43.6, 'Hello Pakistan', 'apple', 'banana', 'cherry', 23, 'A', 43.6, 'Hello Pakistan']

### Count and Index Functions

In [8]:
print(my_list.count('cherry'))
print(tuple.index('John')) 

# These count and index functions can be used on strings, list and tuple

1
0

In [9]:
# Lets see a scenerio when list has 2 same objects
a = [2, 3, 4, 2]
print(a.index(2)) # The answer will be 0 index because its reading precedence is from left to right

0

### Split and Join Functions

In [10]:
naam = "Muhammad Awaiz Qayyum Malik"

# The argument we pass to split() allows the interpreter to know from where we want to split
print(naam.split())    # By default split looks for blank spaces
print(naam.split('i'))

['Muhammad', 'Awaiz', 'Qayyum', 'Malik']
['Muhammad Awa', 'z Qayyum Mal', 'k']

In [11]:
# Now for joining the string with any charater or space we want
print('/'.join(naam))
print("@".join(['Muhammad', 'Awaiz', 'Qayyum', 'Malik']))

M/u/h/a/m/m/a/d/ /A/w/a/i/z/ /Q/a/y/y/u/m/ /M/a/l/i/k
Muhammad@Awaiz@Qayyum@Malik